In [2]:
import pandas as pd

In [3]:
import tensorflow as tf

In [18]:
rating_data = pd.read_csv('final_data2.csv')
rating_data['side_info_user'] = rating_data['energy_consumption_perday']

rating_data['side_info_item'] = rating_data['volume(kwh)']





Y

     rating
0         3
1         2
2         1
3         3
4         1
..      ...
603       2
604       3
605       2
606       2
607       1

[608 rows x 1 columns]

In [32]:
from sklearn.model_selection import KFold,cross_val_score
kfold = KFold(n_splits=3,shuffle=False)

X=rating_data[['user_id','battery_id','side_info_user','side_info_item']]
Y=rating_data[['rating']]

for train_ind,test_ind in kfold.split(X):
    print('fold')
    train_x=X.loc[train_ind]
    train_y=Y.loc[train_ind]
    
    test_x=X.loc[test_ind]
    test_y=Y.loc[test_ind]
    
    #model fit(x_train,y_train)
    #model valid(test_x,test_y)

fold
fold
fold

In [31]:
test_x

     user_id  battery_id  side_info_user  side_info_item
406      114          18        0.999330        0.189944
407       28          18        0.518696        0.189944
408      132          18        0.394683        0.189944
409       96          18        0.043197        0.189944
410       77          18        0.015103        0.189944
..       ...         ...             ...             ...
603      127          28        0.125662        0.184358
604       81          28        0.110901        0.184358
605      121          28        0.117450        0.184358
606      108          28        0.121868        0.184358
607      133          28        0.945032        0.184358

[202 rows x 4 columns]

In [13]:
rating_data['user_id'][x_ind]

0      134
1       42
2       41
3      120
4        5
      ...
401     98
402    100
403     87
404     95
405     47
Name: user_id, Length: 406, dtype: int64

In [14]:
rating_data['user_id']

0      134
1       42
2       41
3      120
4        5
      ...
603    127
604     81
605    121
606    108
607    133
Name: user_id, Length: 608, dtype: int64